.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}
.menu-link {
  color: #ff0000;
  text-decoration: none;
}

.navigation-menu {
  margin-left: 72px;
  padding-top: 25px;
  padding-bottom: 25px;
  letter-spacing: 2.7px;
  font-size: 18px;
  line-height: 18px;
}
.image {
  width: 100%;
}
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.text-lorem {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-left: 67px;
  padding-right: 67px;
}
.text-second {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  padding-top: 30px;
  color: #373737;
  padding-left: 67px;
  padding-right: 67px;
}

.container {
  text-align: center;
}
.button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background: #ff0000;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 65px;
  margin-bottom: 40px;
  padding: 17px 43px 17px 43px;
  cursor: pointer;
  border: transparent;
}

.footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
}
